<div class="container-fluid dashboard">
    <div class="row dashboard-row">

        <div class="col-xs-12 col-md-6 dashboard-widget ">
            <div class="widget">

               <div id="ringchart"></div>


            </div>
        </div>
        <div class="col-xs-12 col-md-6 dashboard-widget ">
            <div class="widget">
                <div id="barchart"></div>
            </div>
        </div>

    </div>

    <div class="row dashboard-row">

        <div class="col-xs-12 col-md-6 dashboard-widget ">
            <div class="widget">
                <div id="linechart"></div>

            </div>
        </div>
        <div class="col-xs-12 col-md-6 dashboard-widget ">
            <div class="widget">

                <div style="height:200px;overflow:auto;">
                <table class="table table-hover dc-data-table">
                </table>
                    </div>

            </div>
        </div>

    </div>

  <div>
    <div class="dc-data-count">
      <span class="filter-count"></span> selected out of <span class="total-count"></span> records | <a
      href="javascript:dc.filterAll(); dc.renderAll();">Reset All</a>
    </div>
  </div>


    <hr>

    <footer>
        <p>&copy; 2016 Company, Inc.</p>
    </footer>


</div>